body rutinas{ 
    font-family: "Poppins", sans-serif; 
    margin: 0;
    padding: 0; background: #f3f6fa;
    color: #222; 
}

header {
    text-align: center; 
    padding: 40px 20px; 
    background: linear-gradient(50deg, #4B5A5F, #000000); 
    color: rgb(250, 250, 250); 
    box-shadow: 0 4px 20px rgba(0,0,0,0.15); }

header h1 { 
    font-size: 2.5rem; 
    animation: fadeDown 1s ease forwards;
 }

header p { 
    font-size: 1.2rem; 
    opacity: 0; animation: fadeUp 1.5s ease forwards; 
    animation-delay: .2s; 
}

/* === GRID DE RUTINAS === */ 
.rutinas { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
    gap: 25px; padding: 40px; }

.rutina { 
    background: white; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 6px 20px rgba(0,0,0,0.12); 
    transition: transform .3s ease, box-shadow .3s ease; 
    opacity: 0; 
    animation: fadeInCard .9s ease forwards; 
}

.rutina:hover { 
    transform: translateY(-10px); 
    box-shadow: 0 10px 28px rgba(0,0,0,0.18);
}

.rutina img { 
    width: 100%; height: 220px; 
    object-fit: cover; 
    border-radius: 15px; 
    margin-bottom: 15px; 
    transition: transform .4s ease; 
}

.rutina:hover img {
    transform: scale(1.05); 
}

.rutina h2 { 
    font-size: 1.5rem; 
    margin-bottom: 10px; color: #ac5b0f; 
}

.rutina ul {
    padding-left: 18px; 
    margin-bottom: 15px; 
}

.rutina ul li { 
    margin-bottom: 6px; }

/* === ANIMACIONES === */ 
@keyframes fadeDown { 
    from { opacity: 0; 
    transform: translateY(-20px); } to { opacity: 1; transform: translateY(0); } 
}

@keyframes fadeUp { 
    from { opacity: 0; 
    transform: translateY(20px); } to { opacity: 1; transform: translateY(0); } 
}

@keyframes fadeInCard { 
    from { opacity: 0; 
    transform: translateY(30px); } to { opacity: 1; transform: translateY(0); } 
}

/* === COMIDAS === */ 
.comida { 
    background: #f5f1ff; 
    padding: 10px; 
    border-left: 4px solid  #4B5A5F; 
    border-radius: 10px; 
    font-size: .95rem; }

.comida strong { 
    color: #af701e; 
}

/* === FOOTER === */ 
footer { 
    text-align: center; 
    padding: 25px; 
    background: #2E2E29; 
    color: white; 
    margin-top: 30px; 
}
#rutinas1{
    text-decoration: none;
    color: rgb(80, 79, 79);
    font-size: 30px;
}