body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #444;
    line-height: 1.6;
}

header {
    background-color: #4B5A5F;
    color: #fffff8;
    padding: 2em;
    text-align: center;
    border-bottom: 3px solid #A46424;
}

header h1 {
    font-size: 2.8em;
    margin-bottom: 0.2em;
    color: #ffffff;
}

header p {
    font-style: italic;
    color: #f7f7ed;
}

.planes {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 3em;
}

.plan {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
    width: 320px;
    text-align: center;
    transition: transform 0.3s ease-in-out;

}

.plan:hover {
    transform: translateY(-8px);
}

.plan h2 {
    color: #333;
    margin-bottom: 0.8em;
    font-size: 1.8em;
}

.plan p {
    color: #666;
    margin-bottom: 1.5em;
}

.plan ul {
    list-style: none;
    padding: 0;
}

.plan li {
    padding: 0.8em;
    border-bottom: 1px solid #eee;
}

.plan li:last-child {
    border-bottom: none;
}

.plan a {
    display: inline-block;
    background-color: #A46424;
    color: #fff;
    text-decoration: none;
    padding: 0.8em 1.5em;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.plan a:hover {
    background-color: #A46424;
}
footer {
    text-align: center;
    padding: 2em;
    background-color: #4B5A5F;
    color: #ffffff;
    border-top: 3px solid #A46424;
}