/* ----- ESTILOS GENERALES ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #111;
    color: #fff;
}

/* ----- NAVBAR ----- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background:  #4B5A5F;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f1f1f1;
}
/* ----- HERO SECTION ----- */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    text-align: left;
    position: relative;
}
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Fondo oscuro eliminado */
}
.hero-text {
    position: relative;
    max-width: 600px;
}
.hero-text h1 {
    font-size: 55px;
    font-weight: bold;
}
.hero-text p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.btn {
    padding: 12px 25px;
    background:#A46424;
    color: #f8f8f8;
    text-decoration: none;
    font-size: 20px;
    border-radius: 8px;
    transition: 0.3s;
}
.btn:hover {
    background:#A46424;
}

/* ----- OBJETIVOS ----- */
.objetivos {
    padding: 80px 20px;
    text-align: center;
}
.objetivos h2 {
    font-size: 40px;
    margin-bottom: 40px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 0 20px;
}
.card {
    background: #222;
    padding: 25px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s;
    border: 1px solid #444;
}
.card:hover {
    background: #A46424;
    color: #ffffff;
    transform: translateY(-5px);
}